<div class="d-flex align-items-center" style="margin-top: 100px;">
  <img src="https://www.tiptisemillerosdetalento.com/img/group-12632-1@2x.png" width="100%" height="100%" class="rounded mx-auto d-block text-center" alt="">
</div>
<div class="col-12 row" style="padding-top: 150px; padding-bottom: 400px;">
  <div class="d-flex justify-content-evenly">
    <button class='btn btn-primary' style="width:25%; height: 150% ;font-size: 28px;" [routerLink]="['/vehiculos']">Lista de Vehículos</button>
    <button class='btn btn-primary' style="width:25%; height: 150% ; font-size: 28px;" [routerLink]="['/nuevocliente']">Regístrate</button>
  </div>
</div>
