<div style="padding-bottom: 500px;">
  <div class="card" style="background-color: #80a9c8e0; margin-top: 50px;">
    <div class="card-header d-flex justify-content-center">
      <h2>
        Edición del Vehículo
      </h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12" style="font-size: 18px;">
          <form [formGroup]="formulario">
            <div class="mb-3 row">
              <label for="staticCodigo" class="col-sm-2 col-form-label" style="font-weight: bold;">Código:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staticCodigo" name="codigo" formControlName="codigo">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="staticCodigo" class="col-sm-2 col-form-label" style="font-weight: bold;">Imagen:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staticCodigo" name="image" formControlName="foto">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="staticCodigo" class="col-sm-2 col-form-label" style="font-weight: bold;">Marca*:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staticCodigo" name="marca" formControlName="marca">
                <span class="text-danger"  style="font-size: 15px;" *ngIf="formulario.controls['marca'].errors?.['required']"></span>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="staticCodigo" class="col-sm-2 col-form-label" style="font-weight: bold;">Modelo*:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staticCodigo" name="modelo" formControlName="modelo">
                <span class="text-danger"  style="font-size: 15px;" *ngIf="formulario.controls['modelo'].errors?.['required']"></span>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="staticCodigo" class="col-sm-2 col-form-label" style="font-weight: bold;">Año*:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staticCodigo" name="anio" formControlName="anio">
                <span class="text-danger"  style="font-size: 15px;" *ngIf="formulario.controls['anio'].errors?.['required']"></span>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="staticCodigo" class="col-sm-2 col-form-label" style="font-weight: bold;">Kilometraje*:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staticCodigo" name="kilometraje" formControlName="kilometraje">
                <span class="text-danger"  style="font-size: 15px;" *ngIf="formulario.controls['kilometraje'].errors?.['required']"></span>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="staticCodigo" class="col-sm-2 col-form-label" style="font-weight: bold;">Precio*:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staticCodigo" name="precio" formControlName="precio">
                <span class="text-danger"  style="font-size: 15px;" *ngIf="formulario.controls['precio'].errors?.['required']"></span>
                <span class="text-danger"  style="font-size: 15px;" *ngIf="formulario.controls['precio'].errors?.['decimalesValidate']">Formato permitido: valor seguido de un punto (.) y 2 decimales</span>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="staticCodigo" class="col-sm-2 col-form-label" style="font-weight: bold;">Calificación*:</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="staticCodigo" name="calificacion" formControlName="calificacion">
                <span class="text-danger"  style="font-size: 15px;" *ngIf="formulario.controls['calificacion'].errors?.['required']"></span>
                <span class="text-danger"  style="font-size: 15px;" *ngIf="formulario.controls['calificacion'].errors?.['calificacionValidate']">Valor permitido: entre 1 y 5</span>
              </div>
            </div>
            <div>
              <span class="text-danger"  style="font-size: 15px;">*Campos obligatorios</span>
            </div>
            <br>
          </form>
        </div>
      </div>
      <div class="col-12 row" >
        <div class="d-flex justify-content-evenly">
          <button class='btn btn-primary' style="width:150px" [routerLink]="['/vehiculos']">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
              <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
            Regresar</button>
          <button class='btn btn-primary' style="width:150px" (click)="guardar()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
