<div class="card">
  <div class="card-header">
    Creación de Vehículo
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="formulario">
          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Código:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="codigo" formControlName="codigo" [(ngModel)]="vehiculo.codigo">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Marca:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="marca" formControlName="marca" [(ngModel)]="vehiculo.marca">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Modelo:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="modelo" formControlName="modelo" [(ngModel)]="vehiculo.modelo">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Año:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="year" formControlName="year" [(ngModel)]="vehiculo.year">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Color:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="color" formControlName="color" [(ngModel)]="vehiculo.color">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Kilometraje:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="kilometraje" formControlName="kilometraje" [(ngModel)]="vehiculo.kilometraje">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Precio:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="precio" formControlName="precio" [(ngModel)]="vehiculo.precio">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Calificación:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="staticCodigo" name="score" formControlName="score" [(ngModel)]="vehiculo.score">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-info" (click)="guardar()">GUARDAR</button>
    </div>
  </div>
</div>
